
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1072">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Book Today for Blissful Rejuvenation at The Thai House!</h2>
            </div>
            <div class="cs-button-box">
                <a href="/" class="cs-button-solid">Schedule An Appointment</a>
                <a href="/contact/" class="cs-button-transparent">Contact Us</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                