
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book Your Session at Mind and Body Thai Spa Today!</h2>
            <p class="cs-text">
                We bring passion and innovation to every treatment, ensuring your journey to relaxation is unforgettable.
            </p>
            <a href="/" target="_blank" rel="noopener" class="cs-button-solid">Schedule Now</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/back.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/back.webp">
        <img loading="lazy" decoding="async" src="/assets/images/back.webp" alt="back massgae" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                
                                