
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-842">
    
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo-w.svg" alt="logo" width="240" height="32">
            </a>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" target="_blank" href="/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" target="_blank" href="/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="google my business" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/price/">Price List</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact/">Contact Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/aromatherapy/">Aromatherapy</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/thai-massage/">Traditional Thai</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/back-massage/">Back & Shoulder</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/foot-massage/">Foot Reflexology</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/deep-tissue/">Deep Tissue</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/clock.svg" alt="clock icon" width="20" height="20">
                        Mon-Sat: 10am – 8pm<br>
                        Sunday: 11am – 5pm
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="tel:{{client.phoneForTel}}">
                        <img class="cs-contact-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/phone-w.svg" alt="phone icon" width="20" height="20">
                        {{client.phoneFormatted}}
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:{{client.email}}">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/email.svg" alt="email icon" width="20" height="20">
                        Click to email
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="/" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pin.svg" alt="pin icon" width="20" height="20">
                        {{client.address.lineOne}}<br>
                            {{client.address.city}}
                            {{client.address.zip}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            Designed & Hand Coded by <a href="/" class="cs-credit-link" target="_blank">TWD</a>  © 2023 
        </span>
    </div>
</footer>
                