---
title: 'About'
description: ''
preloadImg: '/assets/images/int-hero.webp'
permalink: 'about/'
eleventyNavigation:
    key: ABOUT
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="guards" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-317">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/couples-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/couples.webp">
            <img loading="lazy" decoding="async" src="/assets/images/couples.jpg" alt="consult" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Welcome to The Thai House</h2>
            <p class="cs-text">
                Welcome to The Thai House, your serene escape in the heart of Aberdeen, where the timeless tradition of Thai massage meets contemporary wellness. Our journey began with a vision to share the healing art of Thai massage, offering a unique sanctuary for relaxation and rejuvenation. At The Thai House, we embrace the holistic philosophy of Thai wellness, where every treatment is an intricate blend of ancient techniques and modern understanding of body and mind.
            </p>
             <p class="cs-text">
                Our dedicated team of therapists is at the core of what we do, each bringing years of expertise, a passion for traditional Thai healing arts, and a commitment to personalized care. We specialize in a variety of services, including the deep, rhythmic healing of Traditional Thai Massage, the soothing touch of Aromatherapy, the targeted relief of Deep Tissue Massage, and the reflexive harmony of Foot Reflexology. Each therapy is thoughtfully tailored to address your individual needs, whether it's managing chronic pain, alleviating stress, or simply seeking a tranquil retreat from the daily grind.
            </p>
            <p class="cs-text">
                At The Thai House, we're not just about providing massages; we're about crafting a complete experience of well-being and tranquility. Our dedication extends to creating a peaceful, clean, and welcoming environment, ensuring that every visit enriches your journey towards wellness. We invite you to step into The Thai House and discover an oasis of calm, where traditional Thai hospitality and healing await to transform and revitalize you.
            </p>       
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1140">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Get to Know Our Trained Therapists</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/person.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Name</span>
                    <span class="cs-job">Therapist</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/person.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Name</span>
                    <span class="cs-job">Therapist</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/person.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Name</span>
                    <span class="cs-job">Therapist</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/person.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Name</span>
                    <span class="cs-job">Therapist</span>
                </div>
            </li>     
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}