---
title: 'About Us'
description: ''
preloadImg: '/assets/images/int-hero.webp'
permalink: 'about-us/'
eleventyNavigation:
    parent: About
    key: About Us
    order: 210
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/couples.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/couples.webp">
            <img loading="lazy" decoding="async" src="/assets/images/couples.jpg" alt="hero" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h1 class="cs-title">About Us</h1>
            <h3>Our Passion for Wellness</h3>
            <p>
                Mind and Body Thai Spa was born from the deep-rooted passion of our founder, Nok. Hailing from Thailand and having embraced Scotland as her home for over 15 years, Nok has always been drawn to the art and science of massage. With a rich heritage in Thai massage traditions, she was inspired to share these therapeutic benefits in Edinburgh. Seeing the positive impact our treatments have on our customers' health and well-being fills us with immense joy and pride.
            </p>
            <h3>Our Commitment to Your Health</h3>
            <p>
                Our mission at Mind and Body Thai Spa, guided by Nok's vision, is straightforward yet profound: to enhance the health and well-being of every individual who visits us. We believe in the transformative power of massage therapy and are committed to providing personalized care that addresses the unique needs of each client.
            </p>
            <h3>Our Team</h3>
            <p>
                The heart of Mind and Body Thai Spa beats with the dedication and friendliness of our team, a reflection of Nok's own values and commitment. Each staff member brings their unique expertise and passion for wellness, contributing to the warm and welcoming atmosphere we are known for. Together, under Nok's leadership, we strive to create a haven of relaxation and rejuvenation for all our clients.
            </p>
        </div>

        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<!--<section id="meet-team-860">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">Meet The Team Behind Their Success Story</h2>
            </div>
            <a href="" class="cs-button-solid">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                   
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Arlene MacCoy</span>
                    <span class="cs-job">Aesthetic Expert</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Arlene MacCoy</span>
                    <span class="cs-job">Aesthetic Expert</span>
                </div>
            </li>
        </ul>
    </div>
</section>-->


                                

    {% include 'components/cta.html' %}

{% endblock %}