---
title: 'Facial Treatments'
description: ""
preloadImg: '/assets/images/int-hero.webp'
permalink: 'facial/'
eleventyNavigation:
    parent: Treatments
    key: Facial Treatments
    order: 320
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/price.css">
{% endblock %}

{% block body %}
  <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Facial</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/facial/" class="cs-link cs-active">Facial Treatments</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1524">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">All our services</span>
            <h2 class="cs-title">
                We’re Committed to Deliver High Quality Day Care Services
            </h2>
            <p class="cs-text">
                We promise to take care of your child’s social, emotional, intellectual and physical needs with
                sensitive care and we also ensure you their security with our life.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/aroma.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/aroma.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/aroma.webp" alt="kids"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Thai Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/aroma.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/aroma.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/aroma.webp" alt="kids"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Thai Massage</h3>
                    <p class="cs-item-text">
                        Stitch day care mission is to provide affordable high-quality early education and childcare.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div> 
                </div>
            </li>
        </ul>
        <a href="/" class="cs-button-solid">Book An Appointment</a>
    </div>
</section>
                                
                                

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>
                                



    {% include 'components/cta.html' %}

{% endblock %}