---
title: 'Gallery'
description: ''
preloadImg: '/assets/images/int-hero.webp'
permalink: 'gallery/'
eleventyNavigation:
    parent: About
    key: Gallery
    order: 230
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/gallery.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>


<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-402">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">A Glimpse into Mind and Body Thai Spa</h2>
            <p class="cs-text">
                Are you ready to embrace the transformative power of our traditional Thai massages and immersive beauty treatments? Browse our image and video gallery to see the comforting and inviting spaces we've crafted for your next visit to Mind and Body Thai Spa.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal1-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal1.jpg" alt="shop front" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal4-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal4.jpg" alt="internal" width="305" height="400">
            </picture>
            
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal2.jpg" alt="massage room 1" width="305" height="400">
            </picture>
            
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal3-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal3.jpg" alt="buddah" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal5-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal5.jpg" alt="massage room 2" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal6-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal6.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal6.jpg" alt="massage room 3" width="630" height="400">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1314">
    <a href="https://youtu.be/77G43C-7OTE?feature=shared" class="cs-big-link" target="_blank" rel="noopener">
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(min-width: 1024px)" srcset="/assets/images/hero.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero.jpg">
            <source media="(max-width: 600px)" srcset="/assets/images/hero.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/hero.jpg" alt="meeting" width="1920" height="750">
        </picture>
        <!--Play Icon-->
        <picture class="cs-picture">
            <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/play.svg" alt="play icon" width="24" height="24">
        </picture>
    </a>
</section>
                                
                                
                                



                                

    {% include 'components/cta.html' %}

{% endblock %}