---
title: 'Treatments'
description: ""
preloadImg: '/assets/images/int-hero.webp'
permalink: 'massage/'
eleventyNavigation:
    parent: Treatments
    key: Massage
    order: 310
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/price.css">
{% endblock %}

{% block body %}
  <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Massage</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massage/" class="cs-link cs-active">Massage</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1524">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">
                Discover Our Diverse Massage Selection
            </h2>
            <p class="cs-text">
                At Mind and Body Thai Spa, we offer a diverse range of 16 unique massages, each designed to cater to different wellness needs. From relaxing traditional techniques to innovative therapies, find the perfect massage to rejuvenate your mind and body.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/thai-swedish.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/thai-swedish.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/thai-swedish.jpg" alt="thai combination massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Thai Combination Easing Massage</h3>
                    <p class="cs-item-text">
                        Blending the effectiveness of Thai massage with the gentleness of Swedish techniques, the treatment effectively combines acupressure with soothing strokes for a balanced, therapeutic experience.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/swedish.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/swedish.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/swedish.webp" alt="swedish massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Swedish Relax Massage <br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        Smooth, flowing strokes in harmony with the body's circulation characterize the full-body relaxation technique, designed to enhance blood oxygen levels and improve overall circulation and relaxation.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/deep-tissue.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/deep-tissue.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/deep-tissue.webp" alt="deep tissue massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Deep Tissue Massage <br> &nbsp <br> </h3>
                    <p class="cs-item-text">
                        Specially crafted for athletes and active individuals, deep, firm pressure combined with oil alleviates tension and inflammation, enhancing circulation and overall muscular health.<br> &nbsp <br>
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/back.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/back.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/back.webp" alt="Neck, Back and Shoulder massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Neck, Back and Shoulder</h3>
                    <p class="cs-item-text">
                        Targeting key areas of stress and strain, the focus is on providing relief and protection for maintaining good posture and upper body health, especially beneficial for those with desk jobs.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£30</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div> 
                    <div class="cs-category">
                        <span class="cs-heading">120 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/foot.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/foot.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/foot.webp" alt="foot massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Foot Massage</h3>
                    <p class="cs-item-text">
                        Reflexology is at the heart of the foot-focused treatment, targeting specific points to alleviate fatigue and aches, stimulating various body parts to re-balance and invigorate the whole body.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£30</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div> 
                    <div class="cs-category">
                        <span class="cs-heading">120 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/thai.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/thai.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/thai.webp" alt="thai massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Traditional Thai Massage</h3>
                    <p class="cs-item-text">
                        Combining deep tissue techniques with traditional Thai stretching, the treatment is excellent for loosening tight knots and enhancing overall mobility and flexibility.<br> &nbsp <br>
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/bamboo.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/bamboo.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/bamboo.jpg" alt="bamboo massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Warm Bamboo Massage <br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        Employing bamboo canes of various sizes for kneading, rolling, and pressing, the technique combines deep tissue work with bamboo's healing properties, providing muscle tension relief and improved circulation.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£95</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£120</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/aroma.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/aroma.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/aroma.webp" alt="wave stone massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Wave Stone Massage <br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        The specially crafted WaveStone® is employed for deep muscle relaxation, enhancing circulation and soothing the nervous system, effectively treating contracted or fatigued muscles, especially in athletes.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£90</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£120</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/aroma-2.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/aroma-2.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/aroma-2.jpg" alt="aroma massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Serene Thai Aroma Therapy</h3>
                    <p class="cs-item-text">
                        Traditional Thai massage methods merge with aromatic oils, offering a unique experience of varying pressures and stretches, encapsulating the essence of Thai tradition. <br> &nbsp <br>
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£50</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£75</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/cellulite.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/cellulite.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/cellulite.jpg" alt="anti-cellulite massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Energizing Anti-Cellulite Massage</h3>
                    <p class="cs-item-text">
                        A dynamic approach to Swedish massage, vigorous movements not only stimulate muscles but also target cellulite, providing muscle stimulation and skin tightening for revitalization and confidence.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/compress.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/compress.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/compress.webp" alt="hebal compress"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Traditional Thai Herbal Therapy</h3>
                    <p class="cs-item-text">
                        A hot herbal compress is gently rubbed over the body, releasing natural oils for a deeply relaxing experience that combines heat and aromatherapy, offering a culturally rich relaxation journey.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/couples.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/couples.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/couples.webp" alt="couples"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Couples Massage <br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        In a cozy double room, simultaneous massages, tailored to individual preferences, offer a shared experience of relaxation and connection, ideal for couples or friends.<br> &nbsp <br>
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£150</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£200</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/hotstone2.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/hotstone2.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/hotstone2.jpg" alt="hot stone massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Hot Stone Massage Releif Therapy</h3>
                    <p class="cs-item-text">
                        Enjoy the soothing warmth of smooth, heated stones as they effortlessly glide over and relax tense muscles. This massage not only melts away stress but also improves circulation.<br> &nbsp <br>
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/4hands.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/4hands.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/4hands.jpg" alt="four hand massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">4 Hand Massage<br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        Two therapists simultaneously perform synchronized movements, applying harmonious pressure across the body. This coordination amplifies muscle relaxation and heightens the overall therapeutic effects of the massage.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£100</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£150</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£200</span>
                    </div> 
                </div>
            </li>
                        <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/pregnancy.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/pregnancy.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/pregnancy.webp" alt="pregnacy massage"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Pregnancy Massage<br> &nbsp <br></h3>
                    <p class="cs-item-text">
                        Tailored to accommodate the unique stages of pregnancy, the massage aids in adjusting to bodily changes and preparing for childbirth, offering a supportive embrace during this special time.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">£60</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/services/body-scrub.webp" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/services/body-scrub.webp" />
                        <img loading="lazy" decoding="async"
                            src="/assets/images/services/body-scrub.jpg" alt="body scrub"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">Purify Mind and Body Scrub</h3>
                    <p class="cs-item-text">
                        A rejuvenating body scrub followed by a soothing massage offers a complete sensory journey, exfoliating the skin and promoting mental and physical relaxation, perfect for a full reset.
                    </p>
                </div>
                <div class="cs-details">
                    <div class="cs-category">
                        <span class="cs-heading">30 MINS</span>
                        <span class="cs-desc">N/A</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">60 MINS</span>
                        <span class="cs-desc">£85</span>
                    </div>
                    <div class="cs-category">
                        <span class="cs-heading">90 MINS</span>
                        <span class="cs-desc">£110</span>
                    </div> 
                </div>
            </li>
        </ul>
        <a href="/" class="cs-button-solid">Book An Appointment</a>
    </div>
</section>
                                
                                

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>
                                



    {% include 'components/cta.html' %}

{% endblock %}