---
title: 'Price List'
description: ''
preloadImg: '/assets/images/int-hero.webp'
permalink: 'price/'
eleventyNavigation:
    key: PRICE LIST
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/massages.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Price List</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/price/" class="cs-link cs-active">Price List</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="guards" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
             
<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1037">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-icon-wrapper">
                <img class="cs-icon" decoding="async" src="/assets/svgs/logo-w.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Treatment List</h2>
            <div class="cs-button-group">
                <button class="cs-button cs-active" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    30 Mins
                </button>
                <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                    60 Mins
                </button>
                <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                    90 Mins
                </button>
            </div>
        </div>
        <!--30 min-->
        <div id="cs-menu1-1037" class="cs-menu-group" data-category="one">
            <!--30 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/back.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/back.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/back.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back & Shoulders</span>
                                    <span class="cs-price">
                                        £30
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Target stress in the back and shoulders for improved flexibility and relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Reflexology</span>
                                    <span class="cs-price">
                                        £30
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Soothe and rejuvenate with a relaxing treatment focusing on key foot pressure points.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--60 min-->
        <div id="cs-menu2-1037" class="cs-menu-group" data-category="two">
            <!--60 min -->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/aroma.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/aroma.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/aroma.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Aromatherapy</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Experience tranquil bliss with essential oils and gentle massage strokes to balance body and mind.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Alleviate deep-seated tension and knots with intensive muscle and tissue manipulation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/back.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/back.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/back.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back & Shoulders</span>
                                    <span class="cs-price">
                                        £50
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Target stress in the back and shoulders for improved flexibility and relief.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Energize and improve flexibility with ancient acupressure and dynamic stretching techniques.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/foot.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/foot.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Reflexology</span>
                                    <span class="cs-price">
                                        £55
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Soothe and rejuvenate with a relaxing treatment focusing on key foot pressure points.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/cellulite.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/cellulite.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/cellulite.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Sports Massage</span>
                                    <span class="cs-price">
                                        £60
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Enhance athletic performance and recovery with targeted muscle therapy and stretching techniques.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/couples.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/couples.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/couples.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Couples Massage</span>
                                    <span class="cs-price">
                                        £100
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Enjoy a shared relaxation experience with synchronized massages in a serene setting.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--90 min-->
        <div id="cs-menu3-1037" class="cs-menu-group" data-category="three">
            <!--90 min-->
            <section class="cs-menu">
                <div class="cs-container">
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/aroma.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/aroma.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/aroma.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Aromatherapy</span>
                                    <span class="cs-price">
                                        £75
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Experience tranquil bliss with essential oils and gentle massage strokes to balance body and mind.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue</span>
                                    <span class="cs-price">
                                        £80
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Alleviate deep-seated tension and knots with intensive muscle and tissue manipulation.
                                </p>
                            </div>
                        </li>
                        <li class="cs-item">
                            <picture class="cs-picture"  aria-hidden="true">
                                <source media="(max-width: 600px)" srcset="/assets/images/services/thai.webp">
                                <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                                <img loading="lazy" decoding="async" src="/assets/images/services/thai.webp" alt="massage" width="160" height="160">
                                </picture>
                                <div class="cs-info">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional</span>
                                    <span class="cs-price">
                                        £80
                                    </span>
                                </h3>
                                <p class="cs-item-p">
                                    Energize and improve flexibility with ancient acupressure and dynamic stretching techniques.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <a href="" class="cs-button-solid">Schedule An Appointment</a>
    </div>
</div>

<script>class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
</script>
               
{% include 'components/cta.html' %}

{% endblock %}