---
title: 'Gallery'
description: ''
preloadImg: '/assets/images/int-hero.webp'
permalink: false
eleventyNavigation:
    key: 
    order: 
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

      <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">อัลบั้มรูปภาพ</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">หน้าแรก</a>
            <a href="/projects" class="cs-link cs-active">อัลบั้มรูปภาพ</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.jpg" alt="worker grouting" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">อัลบั้มรูปภาพ</span>
                <h2 class="cs-title">รับชมรูปภาพทั้งหมด</h2>
            </div>
            <div class="cs-flex">
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal1-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal1.jpg" alt="formerly dress you people outside" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-2">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal2.jpg" alt="formal dinner" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-3">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal3-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal3.jpg" alt="formerly dress you people outside" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-4">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal4-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal4.jpg" alt="recital" width="780" height="582">
            </picture>
            <picture class="cs-picture cs-picture-5">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal5-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal5.jpg" alt="formal evening" width="380" height="271">
            </picture>
            <picture class="cs-picture cs-picture-6">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal6-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal6.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal6.jpg" alt="formal dinner" width="380" height="271">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-572">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <img class="cs-logo" src="/assets/images/logo-2.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
        <img class="cs-logo" src="/assets/images/logo-1.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
        <img class="cs-logo" src="/assets/images/logo-3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
        <img class="cs-logo" src="/assets/images/logo-4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}