/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/


@media only screen and (min-width: 0em) {
    // Website colors
	:root {
		--primary: #664585;
		--primaryLight: #AB8756;
		--secondary: #191919;
		--secondaryLight: #595781;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;

		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        display: block;
    }

    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0 auto (16/16rem);
        color: var(--headerColor);
        position: relative;
    }

    .cs-text {
		font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        width: 100%;
        margin: 0 auto;
	}
    
	
	.cs-button-solid {
        font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: auto;
		color: #fff;
		min-width: 11.25rem;
		margin: 0;
		padding: 0 2rem;
		background-color: var(--primary);
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		transition: color .3s;
        
		// Transition Properties
		color: #fff;
		transition: color 0.3s;
		transition-delay: 0.1s;
        
		&:hover {
            color: #fff;
			&:before {
                width: 100%;
			}
		}
        
		&:before {
            content: '';
			position: absolute;
			display: block;
			height: 100%;
			opacity: 1;
			top: 0;
			left: 0;
			z-index: -1;
			background-color: var(--primaryLight);
            
			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}
}

    /* Fonts and general styles */
    @media only screen and (min-width: 0em) {
        

    /* sarabun-regular - latin_thai */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/sarabun-v13-latin_thai-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* sarabun-600 - latin_thai */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 600;
        src: url('/assets/fonts/sarabun-v13-latin_thai-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* sarabun-800 - latin_thai */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 800;
        src: url('/assets/fonts/sarabun-v13-latin_thai-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

	body,
	html {
		margin: 0;
		padding: 0;
		font-size: 100%;
		font-family: 'Sarabun', Arial, sans-serif;
		color: var(--bodyTextColor);
		overflow-x: hidden;
	}

	*,
	*:before,
	*:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		transition: background-color 0.3s;
	}

	.container {
		position: relative;
		width: 92%;
		margin: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		color: var(--headerColor);
	}

	p,
	li,
	a {
		font-size: (18/16rem);
		line-height: 27/18em;
		margin: 0;
	}

	p,
	li {
		color: #353535;
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}

    // Hidden Screen reader skip nav button
	.skip {
        position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1111111;
	}
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
	html {
        padding: 0;
		margin: 0;
	}
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
	body,
	html {
		font-size: 0.85vw;
	}
}



/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }
    
    #cs-navigation {
        width: 100%;
        padding: (12/16rem) (16/16rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        &:after {
            /* on hover green bar */
            content: '';
            width: 40%;
            max-width: (146/16rem);
            height: 100%;
            background: var(--primary);
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 0%;
            z-index: -1;
            transition: width .2s, max-width .3s, background-color .3s;
        }

        &:before {
            content: '';
            width: 100%;
            height: 0vh;
            background: rgba(0, 0, 0, .6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            opacity: 0;
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            z-index: -11;
            transition: height .5s, opacity .3s;
        }


        &.cs-active {
            &:after {
                width: 100%;
                max-width: 100%;
                background-color: var(--primary);
            }

            &:before {
                height: 150vh;
                opacity: 1;
            }

            .cs-top-bar {
                z-index: initial;
                &:before {
                    display: none;
                }
            }

            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: .2s;
            }

            .cs-li {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &.scroll {
            .cs-top-bar {
                height: 0;
                opacity: 0;
                padding-bottom: 0;
                overflow: hidden;
                &:before {
                    opacity: 0;
                }
            }

            .cs-toggle {
                margin-top: 0;
            }
        }

        .cs-top-bar {
            margin: 0;
            padding: 0 0 (12/16rem) 0;
            position: relative;
            transition: height .3s, padding-bottom .3s, opacity .3s;
            z-index: -3;
            &:before {
                /* grey line */
                content: '';
                width: 100%;
                height: 1px;
                background: #EFF1F0;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                right: (-16/16rem);
                z-index: -2;
                transition: opacity .3s;
            }
        }

        .cs-logo {
            width: 40%;
            max-width: (146/16rem);
            height: 100%;
            padding: (12/16rem) (16/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background-color: #F7F7F7;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-item {
            list-style: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .cs-remove {
            display: none;
        }

        .cs-picture {
            width: (32/16rem);
            height: (32/16rem);
            margin-right: (16/16rem);
            
            background-color: #EFF1F0;
            display: none;
            justify-content: center;
            align-items: center;
            transition: background-color .3s;
        }

        .cs-icon {
            width: (16/16rem);
            height: auto;
            display: block;
        }

        .cs-header {
            display: none;
        }
        
        .cs-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: inherit;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color .3s;
        }

        .cs-toggle {
            /* 44px - 48px */
            width: clamp(2.75rem, 6vw, 3rem);
            height: clamp(2.75rem, 6vw, 3rem);
            margin: (12/16rem) 0 0 auto;
            border-radius: (4/16rem);
            background-color: var(--primaryLight);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            /* 14px - 16px */
            height: clamp(.875rem, 1.5vw, 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition: transform .5s, top .3S, left .3S;
            animation-duration: .7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top .3s, left .3s, transform .5s;
            animation-duration: .7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom .3s, opacity .3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            opacity: 0;
            background-color: #fff;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .4s, opacity .3s;
        }

        .cs-ul {
            margin: 0;
            padding: (48/16rem) 0 (48/16rem) 0;
            width: 100%;
            height: auto;
            max-height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-li {
            list-style: none;
            width: 100%;
            margin-right: 0;
            /* transition from these values */
            transform: translateY(-70/16rem);
            opacity: 0;
            transition: transform .6s, opacity .9s;

            &:nth-of-type(1) {
                transition-delay: .05s;
            }
            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .15s;
            }
            &:nth-of-type(4) {
                transition-delay: .2s;
            }
            &:nth-of-type(5) {
                transition-delay: .25s;
            }
            &:nth-of-type(6) {
                transition-delay: .3s;
            }
            &:nth-of-type(7) {
                transition-delay: .35s;
            }
            &:nth-of-type(8) {
                transition-delay: .4s;
            }
            &:nth-of-type(9) {
                transition-delay: .45s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &:before {
                /* active state underline */
                content: '';
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: none;
                bottom: (-2/16rem);
                left: 0;
            }

            &.cs-active {
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }
    }

}

/* Tablet - 650px - 1023px */
@media only screen and (min-width: 40.625rem) and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-top-bar {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }

        .cs-item {
            position: relative;

            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }

            &:after {
                /* divider line */
                content: '';
                width: 1px;
                height: 100%;
                margin: 0 (16/16rem);
                background: #EFF1F0;
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-picture {
            display: flex;
        }

        .cs-ul {
            padding-top: (75/16rem);
            gap: (32/16rem);
        }

        .cs-li-link {
            font-size: (24/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            &.cs-active {
                .cs-picture {
                    background-color: var(--primaryLight);
                }
            }

            .cs-top-bar {
                &:before {
                    opacity: .5;
                }
            }

            .cs-picture {
                background-color: var(--accent);
            }

            .cs-item {
                &:after {
                    opacity: .5;
                }
            }

            .cs-logo {
                background-color: var(--primary);
                /*img { 
                    filter: grayscale(1) brightness(1000%);
                }*/
            }

            .cs-icon {
                /* if current color is not black, turns icon white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-ul-wrapper {
                background-color: var(--dark);
                &:before {
                    /* dark overlay */
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: .2;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                }
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/ 

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            position: relative;
            color: var(--bodyTextColorWhite);
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                    margin: (12/16rem) 0 0 0;
                    padding: (12/16rem) 0;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity .3s;
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: (-20/16rem);
            transform: translateY(-50%);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: (12/16rem);
            transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(.875rem, 2vw, 1.25rem);
                color: #fff;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    transform: scaleY(1);
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: (200/16rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            border-bottom: 5px solid var(--primary);
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .3s, visibility .3s, opacity .3s;
        }

        .cs-drop-li {
            list-style: none;
            font-size: (16/16rem);
            text-decoration: none;
            opacity: 0;
            width: 100%;
            height: auto;
            color: var(--bodyTextColor);
            display: block;
            transform: translateY(-10/16rem);
            transition: opacity .6s, transform .6s;

            &:nth-of-type(1) {
                transition-delay: .05s;
            }
            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .15s;
            }
            &:nth-of-type(4) {
                transition-delay: .2s;
            }
            &:nth-of-type(5) {
                transition-delay: .25s;
            }
            &:nth-of-type(6) {
                transition-delay: .3s;
            }
            &:nth-of-type(7) {
                transition-delay: .35s;
            }
            &:nth-of-type(8) {
                transition-delay: .4s;
            }
            &:nth-of-type(9) {
                transition-delay: .45s;
            }
            &:nth-of-type(10) {
                transition-delay: .5s;
            }
            &:nth-of-type(11) {
                transition-delay: .55s;
            }
            &:nth-of-type(12) {
                transition-delay: .6s;
            }
            &:nth-of-type(13) {
                transition-delay: .65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: (16/16rem);
                white-space: nowrap;
                line-height: 1.5em;
                text-decoration: none;
                width: 100%;
                padding: (12/16rem);
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                color: var(--bodyTextColor);
                display: block;
                transition: color .3s, background-color .3s;
    
                &:hover {
                    background-color: #f7f7f7;
                }
    
                &:before {
                    display: none;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background-color: var(--dark);
            }

            .cs-li-link {
                &.cs-drop-link {
                    &:hover {
                        background-color: var(--medium);
                    }
                }
            }

            .cs-drop-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Sarabun', 'Arial', sans-serif;
        width: 100%;
        padding: (16/16rem) (16/16rem) 0 (16/16rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
        transition: padding-top .3s;

        &.scroll {
            padding-top: 0;
            .cs-top-bar {
                height: 0;
                opacity: 0;
                padding-bottom: 0;
                margin-bottom: 0;
                overflow: hidden;
                transform: translateY(-50/16rem);
                &:before {
                    width: 0;
                }
            }

            .cs-toggle {
                margin-top: 0;
            }
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: (320/16rem);
            height: 100%;
            /* 32px - 48px */
            padding: (16/16rem) clamp(2rem, 3vw, 3rem);
            background-color: #F7F7F7;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-top-bar {
            width: 100%;
            margin: 0;
            padding: 0 0 (16/16rem) 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            transition: height .3s, opacity .3s, padding-bottom .3s, margin-bottom .3s, transform .3s;
            &:before {
                /* grey line */
                content: '';
                width: 100%;
                height: 1px;
                background: #EFF1F0;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                right: (-16/16rem);
                z-index: -2;
                transition: width .3s;
            }
        }

        .cs-item {
            list-style: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:hover {
                .cs-picture {
                    transform: scale(1.1);
                }
            }

            &:after {
                /* divider line */
                content: '';
                width: 1px;
                height: (48/16rem);
                /* 24px - 44px */
                margin: 0 clamp(1.5rem, 5vw, 2.75rem);
                background: #EFF1F0;
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-picture {
            width: (48/16rem);
            height: (48/16rem);
            margin-right: (16/16rem);
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .3s;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-header {
            font-size: (16/16rem);
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
        
        .cs-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: inherit;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color .3s;
            &:hover {
                text-decoration: underline;
            }
        }

        .cs-bottom-bar {
            width: 100%;
            /* 235px - 420px */
            padding: 0 0 0 clamp(14.6875rem, 23vw, 26.25rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: (32/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
            &:last-of-type {
                /* pushes the button to the far roght */
                margin-left: auto;
                padding: 0;
            }
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1vw, 1rem);
            font-weight: 700;
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &.cs-active {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* active state underline */
                content: '';
                width: 0%;
                height: 2px;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (0/16rem);
                left: 0;
                transition: width .3s;
            }
        }

        .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: 11.25rem;
            margin: 0;
            padding: 0 2rem;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color .3s;
            
            // Transition Properties
            color: #fff;
            transition: color 0.3s;
            transition-delay: 0.1s;
            
            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
            
            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                background-color: var(--primaryLight);
                
                //Transition properties
                width: 0;
                transition: width 0.3s;
            }
        }

        .cs-nav-button {
            margin-left: auto;
            border-radius: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);
            .cs-top-bar {
                &:before {
                    opacity: .5;
                }
            }

            .cs-logo {
                background-color: var(--primary);
                /*img { 
                    filter: grayscale(1) brightness(1000%);
                }*/
            }

            

            .cs-picture {
                background-color: var(--accent);
            }

            .cs-item {
                &:after {
                    opacity: .5;
                }
            }

            .cs-icon {
                /* if current color is not black, turns icon white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-link, .cs-header, .cs-li-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-li-link {
                &:before {
                    background-color: var(--primaryLight);
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #banner-1106 {
        font-family: 'Sarabun', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        padding-top: clamp(13.81875rem, 25vw, 18.975rem);
        padding-bottom: (120/16rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (12/16rem);
        }
    
        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: '';
                width: (7/16rem);
                height: (12/16rem);
                margin: 0 (16/16rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primaryLight);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(left,  rgba(26,26,26,0.94) 0%, rgba(26,26,26,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(26,26,26,0.94) 0%,rgba(26,26,26,0) 100%); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }

}
                                
                                

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-1072 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-flex {
            max-width: (630/16rem);
        }

        .cs-title {
            margin: 0;

            color: var(--bodyTextColorWhite);
        }

        .cs-button-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: transparent;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:after {
                /* border */
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: transparent;
                /* prevents padding from adding to the width */
                box-sizing: border-box;
                border: 1px solid #fff;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
                pointer-events: none;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.66;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

                                

    
                                


/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-842 {
        padding: var(--sectionPadding);
        /* 30px - 50px */
        padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
        background-color: #332243;
        position: relative;

        .cs-wave {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 99%;
        }

        .cs-container {
            width: 100%;
            /* reset on tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: (48/16rem);
            row-gap: (32/16rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: (210/16rem);
            height: auto;
            margin: 0 0 (24/16rem) 0;
            display: block;
        }

        .cs-logo-img {
            width: 100%;
            height: auto;
        }
        .cs-social {
            display: inline-flex;
            justify-content: flex-start;
            gap: (12/16em);
        }

        .cs-social-link {
            width: (32/16rem);
            height: (32/16rem);
            background-color: #52366a;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition:
                transform 0.3s,
                background-color 0.3s;

            &:hover {
                background-color: var(--primaryLight);
                transform: translateY(-0.1875rem);

                .cs-social-img {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }

        .cs-social-img {
            height: (12/16rem);
            width: auto;
            display: block;
        }

        .cs-header {
            font-size: (20/16rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0 0 (20/16rem) 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-ul-1 {
            width: 100%;
            max-width: (350/16rem);
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: (32/16rem);

            .cs-li {
                width: 44%;
            }
        }

        .cs-li {
            list-style: none;
        }

        .cs-link {
            font-size: (16/16rem);
            text-decoration: none;
            line-height: 1.5em;
            text-align: left;
            color: var(--bodyTextColorWhite);
            display: inline-flex;
            align-items: flex-start;
            gap: (8/16rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primaryLight);
            }
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            margin-right: (2/16rem);
            display: block;
        }

        .cs-bottom {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            /* 48px - 64px */
            margin: clamp(3rem, 7vw, 4rem) auto 0;
            padding-top: (24/16rem);
            border-top: 1px solid var(--primaryLight);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: (12/16rem);
        }

        .cs-credit,
        .cs-bottom-link,
        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            transition: color 0.3s;
        }

        .cs-credit {
            width: 100%;
        }

        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--primaryLight);
            display: inline-block;
            position: relative;

            &:hover {
                color: var(--primaryLight);
            }
        }

        .cs-bottom-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-bottom-link {
            display: flex;
            align-items: center;

            &:hover {
                color: var(--primary);
            }

            &:last-of-type {
                &:before {
                    /* seperator */
                    content: "";
                    width: 1px;
                    height: (14/16rem);
                    margin: 0 (12/16rem);
                    background: currentColor;
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-842 {
        .cs-container {
            max-width: (1280/16rem);
            /* 48px - 64px */
            row-gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-bottom {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .cs-credit {
            text-align: left;
        }

        .cs-bottom-links {
            justify-content: flex-end;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-842 {
        .cs-container {
            /* pushes all flex children to the top */
            align-items: flex-start;
            justify-content: flex-end;
            flex-wrap: nowrap;
        }

        .cs-logo-group {
            width: 30%;
            max-width: (400/16rem);
            /* pushes everything to the right of it as far as possible in a flexbox */
            margin-right: auto;
        }

        .cs-text {
            width: 100%;
        }

        .cs-social {
            flex-direction: row;
            position: relative;
            top: auto;
            right: auto;
        }
    }
}


/*-- -------------------------- -->
<---       Content flare        -->
<--- -------------------------- -*/

/* you can copy and paste this into your global stylesheet to be used everywhere in your site */

#button-box-837 {
    width: 100%;
    max-width: (630/16rem);
    margin-bottom: (32/16rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: (24/16rem);

    .cs-link {
        text-decoration: none;
        padding-right: (30/16rem);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: (16/16rem);
        position: relative;

        &:hover {
            &:before {
                width: 100%;
                height: (56/16em);
                
            }
            .cs-wrapper {
                transform: scale(1.2);
            }

            .cs-icon {
                transform: translateX(7/16rem);
            }
        }

        &:before {
            /* light green circle that animates on hover */
            content: '';
            width: (48/16rem);
            height: (48/16rem);
            background: #fff;
            opacity: 1;
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            z-index: -1;
            transform: translateY(-50%);
            transition: width .3s, height .3s, border-radius .3s;
        }
    }

    .cs-wrapper {
        width: (48/16rem);
        height: (48/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        transition: transform .3s;
    }

    .cs-icon {
        width: (24/16rem);
        height: auto;
        display: block;
        transition: transform .3s;
    }

    .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (4/16rem);
    }

    .cs-header {
        font-size: (16/16rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }

    .cs-link-content {
        font-size: (16/16rem);
        line-height: 1.2em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
    }
}

/* Dark Mode */
body.dark-mode {
    #button-box-837 {
        .cs-header, .cs-link-content {
            color: var(--bodyTextColorWhite);
            transition: color .3s;
        }

        .cs-link {
            &:before {
                background: var(--accent);
            }
        }

        .cs-icon {
            /* makes icons that are not black turn white */
            filter: grayscale(1) brightness(1000%);
        }

       
    }
}
                                
